player-connection-mode=Listen
player-connection-guid=2853863044
player-connection-debug=0
player-connection-project-name=Arena_shooter_multiplayer
player-connection-ip=10.10.172.191
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
build-guid=f7e260c26aff49ea882b444d1880bbb1
