player-connection-mode=Listen
player-connection-guid=3636492552
player-connection-debug=0
player-connection-project-name=Arena_shooter_multiplayer
player-connection-ip=10.70.253.49
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
build-guid=c9f3ee0d0722496bbe8cdddd1185498d
