player-connection-mode=Listen
player-connection-guid=3895085150
player-connection-debug=0
player-connection-project-name=Arena_shooter_multiplayer
player-connection-ip=10.10.103.215
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
build-guid=72ed54878f1641c3b2c341d9fc06919f
